@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #191A1A;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191A1A;
  }
}

body {
  background: var(--background);
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

pre {
  background-color: #202222;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
}
